<!--  @author Mohamad Abu Ali <mohamad@abuali.com.br> -->
<section class="content-header">
  <h1>Importação Manual</h1>
</section>

<section class="content">
      <div class="box box-default">
        <div ng-if="loadding" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="box-header with-border">
          <h3 class="box-title">Escolha o arquivo a ser importado</h3>
        </div>
        <div class="modal-body form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <input type="file" class="form-control" file-model="importModel" accept=".fish,.txt,.json">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="callout" ng-if="successMessage">
                <p class="lead">Pacotes Processados: {{successMessage.processedPackages}}</p>
                <p class="lead">Pacotes Recebido: {{successMessage.receivedPackages}}</p>
                <p class="lead">Rfids Recebidos: {{successMessage.receivedRfids}}</p>
                <p class="lead">Pacotes Inseridos: {{successMessage.insertedPackages}}</p>
                <p class="lead">Rfids Inseridos: {{successMessage.insertedRfids}}</p>
                <p class="lead">Pacotes descartado por Repetição: {{successMessage.discardedByRepetitionPackagesNumber}}</p>
                <p class="lead">Pacotes descartado por Erro: {{successMessage.discardedByErrorPackagesNumber}}</p>
              </div>
              <div class="callout callout-danger" ng-if="errorMessage">
                <h4>Erro!</h4>
                <p>{{ errorMessage.error }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="button" ng-click="importfile()" class="btn btn-success pull-right">Importar</button>
        </div>
      </div>
</section>
