<!--  @author Mohamad Abu Ali <mohamad@abuali.com.br> -->
<section class="content-header">
  <h1>Rfiddata</h1>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Busca</h3>
    </div>

    <div class="form-horizontal">
      <div class="box-body">

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label">Código:</label>
          <div class="col-sm-6">
            <tags-input ng-model="search.rfidCodes"
              add-on-paste="true"
              placeholder="Adicionar Código Rfid">
             <auto-complete source="loadRfiddataCode($query)" min-length="1" debounce-delay="500" ></auto-complete>
           </tags-input>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6 checkbox" >
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="hexa"> Mostrar Código em HEXA
              </label>
            </div>
          </div>
        </div> -->

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label">Coletor:</label>
          <div class="col-sm-6">
            <select class="form-control select2" ng-model="search.collectorId">
              <option value="">Todos os Coletores</option>
               <option ng-repeat="collector in collectors"
                        value="{{collector.id}}">
                  {{collector.name}}
                </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label">Intervalo de Leitura:</label>
          <label class="col-sm-1 control-label">De:</label>
          <div class="col-sm-2">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="search.fromDate" is-open="isOpenFrom" enable-time="false" max-date="search.toDate" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="isOpenFrom = true"><i class="fa fa-calendar"></i></button>
            </span>
            </p>
          </div>
          <label class="col-sm-1 control-label">Para:</label>
          <div class="col-sm-2">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="search.toDate" is-open="isOpenTo" enable-time="false" min-date="search.fromDate" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="isOpenTo = true"><i class="fa fa-calendar"></i></button>
            </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-2 control-label">Entidade:</label>
          <div class="col-sm-6">
            <select class="form-control select2" ng-model="search.entity" ng-change="getEntityStructure()" >
              <option value=""></option>
               <option ng-repeat="entity in rfidEntities"
                        value="{{entity.identifier}}">
                  {{entity.field}}
                </option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-repeat="structure in entityStructure.structureList" ng-if="structure.type !== 'RFIDCODE'">
            <label class="col-sm-offset-1 col-sm-2 control-label" >{{structure.field}}:</label>
            <div class="col-sm-6">

              <input type="text" class="form-control"
                ng-model="search.entityQuery.where[structure.identifier]"
                ng-if="structure.type === 'TEXT'">

              <input type="number" class="form-control"
                ng-model="search.entityQuery.where[structure.identifier]"
                ng-if="structure.type === 'DOUBLE'">

              <input type="number" class="form-control"
                ng-model="search.entityQuery.where[structure.identifier]"
                ng-if="structure.type === 'INTEGER'">

              <div ng-if="structure.type === 'DATETIME'">
                <label class="col-sm-2 control-label">De:</label>
                <div class="col-sm-4">
                  <p class="input-group">
                      <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="search.entityQuery.where[structure.identifier].from" is-open="isOpenFrom[structure.identifier]" enable-time="false" max-date="search.entityQuery.where[structure.identifier].to" />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpenFrom[structure.identifier] = true"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
                <label class="col-sm-2 control-label">Para:</label>
                <div class="col-sm-4">
                  <p class="input-group">
                      <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="search.entityQuery.where[structure.identifier].to" is-open="isOpenTo[structure.identifier]" enable-time="false" min-date="search.entityQuery.where[structure.identifier].from" />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpenTo[structure.identifier] = true"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>

              <select  class="form-control select2"
                ng-if="structure.type === 'ENTITY'"
                ng-model="search.entityQuery.where[structure.identifier]"
                ng-options="value.id as value[structure.defaultReference] for value in entityOptions[structure.name]">
                <option value="">Todos</option>
              </select>

              <select  class="form-control select2"
                ng-if="structure.type === 'GROUP'"
                ng-model="search.entityQuery.where[structure.identifier]"
                ng-options="group.id as group.name for group in groups">
                <option value="">Todos</option>
              </select>

              <div ng-if="structure.type === 'IMAGE'">
                <label class="radio-inline"> <input type="radio" ng-model="search.entityQuery.where[structure.identifier]" ng-value="undefined" selected> Com e sem imagens </label>
                <label class="radio-inline"> <input type="radio" ng-model="search.entityQuery.where[structure.identifier]" ng-value="{$ne:null}"> Somente com imagens </label>
                <label class="radio-inline"> <input type="radio" ng-model="search.entityQuery.where[structure.identifier]" ng-value="{$eq:null}"> Somente sem imagens </label>
              </div>

            </div>
        </div>

      <div class="callout callout-danger" ng-if="errorMessage">
        <h4>Erro!</h4>
        <p>{{ errorMessage }}</p>
      </div>

      <div class="box-footer">
        <div class="col-sm-offset-1 col-sm-8">
          <button type="button" ng-click="searchRfid()" class="btn btn-success pull-right">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Rfiddata</h3>
        </div>
        <div class="box-body">
          <div ui-grid="rfiddataGridOptions" ui-grid-pagination ui-grid-exporter class="grid"></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="loadding" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
</section>
