<!--  @author Mohamad Abu Ali <mohamad@abuali.com.br> -->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-search"></span> {{modalTitle}}</h4>
</div>

<div class="modal-body form-horizontal">

    <div class="form-group">
		<label class="col-sm-3 control-label">Entidade:</label>
		<div class="col-sm-9">
		  <p class="form-control-static">{{entity.field}}</p>
		</div>
 	</div>

    <div class="form-group">
		<label class="col-sm-3 control-label">Descrição:</label>
		<div class="col-sm-9">
		  <p class="form-control-static">{{entity.description}}</p>
		</div>
 	</div>

    <div class="form-group">
		<label class="col-sm-3 control-label">Unico:</label>
		<div class="col-sm-9">
		  <p class="form-control-static">{{entity.unique}}</p>
		</div>
 	</div>

 	<div class="form-group">
		<label class="col-sm-3 control-label">Estrutura:</label>
		 <div class="col-sm-9">
          <ul ng-repeat="fields in entity.structureList">
            <li><b>Campo: </b>{{fields.field}} <b> Tipo: </b>{{fields.type}}</li>
          </ul>
        </div>
 	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-if="!entity.active && checkRoles('active-dynamicEntities')" ng-click="active(entity.identifier)">Ativar</button>
	<button type="button" class="btn btn-danger" ng-if="entity.active && checkRoles('deactive-dynamicEntities')" ng-click="deactivate(entity.identifier)">Desativar</button>
</div>
