<!--  @author Mohamad Abu Ali <mohamad@abuali.com.br> -->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon" ng-class="entity.id ? 'glyphicon-edit' : 'glyphicon-plus'"></span> {{modalTitle}}</h4>
</div>

<div class="modal-body form-horizontal">

  <div class="form-group">
		<label class="col-sm-3 control-label">Nome: (*)</label>
		<div class="col-sm-9">
		  <input type="text" id="name" class="form-control" ng-model="entity.name" ng-enter="save(entity)">
		</div>
 	</div>

 	<div class="form-group">
		<label class="col-sm-3 control-label">Descrição:</label>
		<div class="col-sm-9">
		  <textarea class="form-control" rows="3" ng-model="entity.description" ng-enter="save(entity)"></textarea>
		</div>
 	</div>

 	<div class="form-group">
		<label class="col-sm-3 control-label">Padrão:</label>
		<div class="col-sm-9">
			<toggle-switch ng-model="entity.isDefault" on-label="Sim" off-label="Não"></toggle-switch>
		</div>
 	</div>

  <div class="form-group ">
    <div class="col-sm-3 pull-right">
      <small>(*) campos obrigatório.</small>
    </div>
  </div>

  <div class="callout callout-danger" ng-if="errorMessage">
    <h4>Erro!</h4>
    <p>{{ errorMessage.error }}</p>
	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click="save(entity)">Salvar</button>
</div>
