<!--  @author Mohamad Abu Ali <mohamad@abuali.com.br> -->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon" ng-class="entity.id ? 'glyphicon-edit' : 'glyphicon-plus'"></span> {{modalTitle}}</h4>
</div>

<div class="modal-body form-horizontal">
	<div class="form-group" ng-if="entity.id">
		<label class="col-sm-2 control-label">Id:</label>
		<div class="col-sm-10">
		  <p class="form-control-static">{{entity.id}}</p>
		</div>
 	</div>

    <div class="form-group">
		<label class="col-sm-2 control-label">Name:</label>
		<div class="col-sm-10">
		  <input type="text" id="name" class="form-control" ng-model="entity.name">
		</div>
 	</div>

 	<div class="form-group">
		<label class="col-sm-2 control-label">Description:</label>
		<div class="col-sm-10">
		  <textarea class="form-control" rows="3" ng-model="entity.description"></textarea>
		</div>
 	</div>

 	<div class="form-group">
		<label class="col-sm-2 control-label">Padrão:</label>
		<div class="col-sm-10">
			<toggle-switch
              ng-model="entity.isDefault"
              on-label="Sim"
              off-label="Não">
            </toggle-switch>
		</div>
 	</div>

    <div class="callout callout-danger" ng-if="errorMessage">
	    <h4>Erro!</h4>
	    <p>{{ errorMessage.error }}</p>
  	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default pull-left" ng-click="close()">Fechar</button>
	<button type="button" class="btn btn-success" ng-click="save(entity)">Salvar</button>
</div>
